/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: 1px solid #e5e8eb;
}

.logo img {
    height: 40px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--magenta-hover);
    border-bottom: 1px solid currentColor;

}

.btn-entrar {
    background-color: var(--magenta);
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 1.2rem;
    margin-left: 7rem;
    font-weight: 600;
}

.btn-entrar:hover {
    background-color: var(--magenta-hover);
}

header .home {
    color: var(--magenta);
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    padding: 8rem;
    background: var(--fumaça);
}

.hero-img {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
    min-height: 60rem;
    border-radius: 1.2rem;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 0 1rem;
    width: 100%;
}

.hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.2rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: -2px;
}

.hero-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-top: 1rem;
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-explorar {
    position: absolute;
    top: 4rem;
    right: 6rem;
    background: var(--verdin);
    color: var(--azul-petroleo);
    padding: 1.2rem 1.6rem;
    border-radius: 0.6rem;
    text-decoration: none;
    font-weight: 600;
}

/* Projetos destaque */
.projetos-destaque {
    padding: 8rem 16rem 8rem 16rem;
}

.projetos-destaque h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3.2rem;
    font-weight: 700;
}

.projetos-destaque h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.projetos-destaque p {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #6B7582;
    font-weight: 400;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
}

.projetos-grid article {
    width: 100%;
    height: auto;
}

.projetos-grid article div {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 0rem;
    gap: 0.5rem;
}

.projetos-grid img {
    width: 100%;
    height: auto;
    max-width: 50rem;
    border-radius: 1.2rem;
}

/* Como funciona */
.como-funciona {
    padding: 5.7rem 16rem;
    background: var(--fumaça);
    margin-bottom: 3.2rem;
}

.como-funciona h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
    font-weight: 700;
}

.como-funciona p,
.como-funciona ol {
    font-size: 2rem;
}

.como-funciona p {
    margin-bottom: 2rem;
}

.como-funciona ol {
    padding-left: 2.3rem;
    margin-top: 1rem;
}

/* Footer */
footer {
    padding: 2rem 4rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
    margin-bottom: 3rem;
}

.footer-links a,
footer p {
    text-decoration: none;
    color: #6B7582;
    font-size: 1.6rem;
}