/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: 1px solid #e5e8eb;
}

.logo img {
    height: 40px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--magenta-hover);
    border-bottom: 1px solid currentColor;

}

.btn-entrar {
    background-color: var(--magenta);
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 1.2rem;
    margin-left: 7rem;
    font-weight: 600;
}

.btn-entrar:hover {
    background-color: var(--magenta-hover);
}

header .projetos {
    color: var(--magenta);
}






/* main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

main .wrapper {
    max-width: 100rem;
    width: 100%;
}

/* pesquisa */
.pesquisa {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pesquisa input {
    font-family: "Montserrat";
    width: 100%;
    padding: 2rem 6rem 2rem 6rem;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    background-color: #f2f2f5;
    font-size: 1.6rem;
}

.pesquisa input:focus {
    border: 1px solid var(--magenta);
    outline: none;
}

.pesquisa h1 {
    font-size: 3.2rem;
}

.pesquisa p {
    font: 1.4rem;
    color: #6B7582;
}

.pesquisa .input-busca {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.input-busca img {
    position: absolute;
    left: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* barra-pesquisa */
.barra-pesquisa {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

/* estilização do select*/
.barra-pesquisa .choices {
    display: inline-block;
}

.barra-pesquisa .choices:has(.custom-select.curso) {
    width: 26rem;
}

.barra-pesquisa .choices:has(.custom-select.status) {
    width: 10rem;
}

.barra-pesquisa .choices:has(.custom-select.palavras-chave) {
    width: 18rem;
    position: absolute;
    right: 87.3rem;
}

.choices__inner {
    border-radius: 0.8rem;
    background-color: #f2f2f5;
    border: none;
    padding: 0.8rem 1rem;
}

.choices__list--dropdown {
    border-radius: 0.8rem;
    overflow: hidden;
}

.choices__list--dropdown {
    border-bottom-left-radius: 0.8rem !important;
    border-bottom-right-radius: 0.8rem !important;
    border: none !important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #eee;
    color: #000;
}

/* projetos-grid */
.projetos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    width: 20rem;
}

article div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article img {
    border-radius: 1.2rem;
}

article div h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 600;
}

article div p {
    font-size: 1.5rem;
    color: #6B7582;
}


/* Footer */
footer {
    padding: 2rem 4rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
    margin-bottom: 3rem;
}

.footer-links a,
footer p {
    text-decoration: none;
    color: #6B7582;
    font-size: 1.6rem;
}