/* Header */
.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: 1px solid #e5e8eb;
}

.logo img {
    height: 40px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #121417;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--magenta-hover);
}

.active-nav {
    color: var(--magenta-hover);
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 6rem;
}

.notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F5;
    border-radius: 1rem;
    height: 4rem;
    width: 4rem;
}

.notification-icon img {
    height: 2.5rem;
    width: 2.5rem;
}

.profile-pic img {
    height: 4rem; 
    width: 4rem; 
    border-radius: 50%;
    object-fit: cover;
}

header .projetos {
    color: var(--magenta);
}


/* main */
main {
    max-width: 1080px;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem 1rem
}

main .wrapper {
    max-width: 100rem;
    width: 100%;
}


/* Breadcrumb */
nav[aria-label="breadcrumb"] ol {
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    color:#121417;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
nav[aria-label="breadcrumb"] ol li::after {
    content: "/";
    margin-left: 0.5rem;
    color: #9ca3af;
}
nav[aria-label="breadcrumb"] ol li:last-child::after {
    content: "";
}
nav[aria-label="breadcrumb"] a {
    text-decoration: none;
    color: #6b7280;
}
li[aria-current="page"] {
    font-weight: 600;
}

/* Cabeçalho */
.title h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem 0 1.5rem 0;
}
.title p {
    color: #6b7280;
    margin-bottom: 3rem;
}

/* Banner */
figure {
    width: 45rem;
    height: 25rem;
    background-color:#F2F2F5;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

figure img {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

/*Seções*/
section {
    margin-bottom: 2rem;
}

.visao-geral p {
    text-align: justify;
    font-weight: 500;
}

section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.info-gerais{
    margin: 4rem 0 5rem 0;
}

#info-gerais{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.indicadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 0;
    list-style: none;
    margin-top: 1rem;
}

.indicadores li {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dee0e3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
}
.indicadores li strong {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}
.indicadores li span {
    font-size: 2.5rem;
    font-weight: bold;
}

.status {
    margin-left: 1rem;
    background-color: var(--verdin);
    padding: 0 0.7rem;
    border-radius: 0.5rem;
}

.palavra-chave {
    display: flex;
    gap: 0.5rem;
}

/* Coordenador */
.coordenador {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.perf-coord {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.perf-coord img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2rem;
}
.coordenador a {
  color: #2563eb;
  text-decoration: none;
}
.coordenador a:hover {
  text-decoration: underline;
}

/* Botão de inscrição */
.botton {
    display: flex;
    justify-content: end;
}
.botao-participar {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #005066;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.botao-participar:hover {
  background-color: #003f52;
}

/* Footer */
footer {
    padding: 2rem 4rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
    margin-bottom: 3rem;
}

.footer-links a,
footer p {
    text-decoration: none;
    color: #6B7582;
    font-size: 1.6rem;
}